In [3]:
import pandas as pd

In [6]:
df = pd.read_json("edited_data.json")

TypeError: read_json() got an unexpected keyword argument 'index'

In [5]:
df

   Total tweets  Tweets about AI
0      87805267               88
1      16553571             1616

In [55]:
data = []
digits = ""
for line in df:
    for char in line:
        if char in "0123456789":
            digits += char
    if digits == "2013" or digits == "2019":
        digits = ""
    else:
        data.append(digits)
        digits = ""

In [56]:
data

['', '87805267', '', '88', '', '', '16553571', '', '1616']

In [57]:
for element in data:
    if element == "":
        data.remove(element)

In [58]:
data

['87805267', '88', '16553571', '', '1616']